* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 120%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
}

main {
    display: flex;
    flex-direction: column;
    gap: clamp(48px, calc(36.571px + 3.571vw), 88px);
    flex-grow: 1;
    padding: clamp(24px, calc(-3.429px + 8.571vw), 120px) 0;
}

.wrapper {
    padding: 0 max(clamp(15px, calc(-15px + 9.375vw), 120px), calc(50% - 770px));
}

h1 {
    font-family: 'Arima';
    font-weight: 600;
    font-size: clamp(2.00rem, calc(1.500rem + 2.500vw), 3.75rem);
    color: var(--secondary-brown);
}

h2 {
    font-family: 'Arima';
    font-weight: 600;
    font-size: clamp(2.50rem, calc(2.286rem + 1.071vw), 3.25rem);
    color: var(--primary-green);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

h2>img {
    width: clamp(40px, calc(37.714px + 0.714vw), 48px);
    height: clamp(40px, calc(37.714px + 0.714vw), 48px);
}

h3 {
    font-family: 'Arima';
    font-weight: 600;
    font-size: clamp(2.50rem, calc(2.071rem + 2.143vw), 4.00rem);
    color: var(--primary-yellow);

}

h4 {
    font-family: 'Palanquin';
    font-weight: 600;
    font-size: clamp(1.25rem, calc(0.893rem + 1.786vw), 2.50rem);
    color: var(--primary-green);

}

h5 {
    font-family: 'Arima';
    font-weight: 600;
    font-size: clamp(1.25rem, calc(1.036rem + 1.071vw), 2.00rem);
    color: var(--secondary-brown);
    text-align: center;
}

h6 {
    font-family: 'Palanquin Dark';
    font-weight: 600;
    font-size: clamp(1.75rem, calc(1.393rem + 1.786vw), 3.00rem);
    color: white;
}

p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: clamp(1.00rem, calc(0.857rem + 0.714vw), 1.50rem);
    color: var(--neutral);
}

li {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: clamp(1.00rem, calc(0.857rem + 0.714vw), 1.50rem);
    color: var(--neutral);
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    gap: 100px;

    width: 100%;
    height: 128px;
    background-color: var(--primary-green);
    color: white;
}

header>img {
    width: 72px;
    height: 72px;
}

header>nav>ul {
    display: flex;
    align-items: center;
    gap: 72px;
}

header li {
    font-family: 'Arima';
    font-weight: 600;
    font-size: 24px;
    list-style: none;
}

header a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 4px 8px;

    background-position: bottom;
    background-repeat: no-repeat;
}

header .nav-highlights a:hover {
    background-image: url('/assets/icons/hover-bg-img-highlights.svg');
}

header .nav-faq a:hover {
    background-image: url('/assets/icons/hover-bg-img-faq.svg');
}

header .nav-contact a:hover {
    background-image: url('/assets/icons/hover-bg-img-contacts.svg');
}

header a:active {
    color: var(--primary-yellow);
}

.navbar {
    width: 100%;
    height: 88px;
    background-color: var(--primary-yellow);
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;

    display: none;

    z-index: 10;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar img {
    height: 40px;
}

@media screen and (max-width: 480px) {
    .navbar img {
        height: 36px;
    }
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
    }

    nav {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
    }

    header>.navbar>ul {
        gap: unset;
    }
}

/*article header*/

.article-header {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.aticle-header-content {
    flex: 5 0 70%;
}

.aticle-header-content>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aticle-header-content>div>p.article-header-intro {
    font-family: 'Palanquin';
    font-size: clamp(1.13rem, calc(0.875rem + 1.250vw), 2.00rem);
    font-weight: 400;
    line-height: 120%;
    gap: 40px;
}

.meta-data {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    padding-top: 40px;

    gap: 32px;
    row-gap: 8px;

    font: 400 16px 'Palanquin';
}

.meta-data>.meta-item {
    display: flex;
    align-items: center;

    gap: 8px;
}

.author-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #4EA48733;

    flex: 1 0 270px;

    border-radius: 30px;
    padding: 16px;
    gap: 16px;

}

.author-card>img {
    width: 120px;
    height: 120px;

    object-fit: cover;

    border-radius: 50%;
}

.author-title {
    text-align: center;
}

.author-name {
    font: 700 18px 'Arima';
}

.author-role {
    font: 400 18px 'Arima';
}

.author-summary>p {
    font: 400 16px 'Palanquin';
    line-height: 120%;
}

/* profi tipp */

.pro-tipp-box {
    width: 200px;
    background-color: var(--primary-green);

    padding: 8px 16px;

    display: flex;
    align-items: center;

    border-radius: 10px;

    transform: rotate(-15deg);

    position: relative;
    top: 20px;
}

.pro-tipp-box>img {
    width: 42px;
}

.pro-tipp-box>p {
    font: 700 28px 'Palanquin';
    color: var(--primary-yellow);
}

.pro-tipp-content {
    background-color: var(--primary-green-bright);

    padding: 24px 16px;
    padding-left: 40px;

    margin-left: 64px;
    margin-right: 64px;

    border-radius: 30px;

    font: 400 24px 'Palanquin';
}

.pro-tipp-content a {
    color: #4EA487;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .pro-tipp-box {
        position: relative;
        top: 2px;
        rotate: 1deg
    }

    .pro-tipp-content {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Share-Button */

.share-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 48px;

    position: relative;
}

.share-button .share-arrow-big {
    position: absolute;
    left: -15px;
    top: 45px;
}

.share-button .share-arrow-small {
    position: absolute;
    left: 0px;
    top: 50px;
    display: none;
}

.share-button .follow-me {
    position: relative;
    font-family: 'Arima';
    font-weight: 500;
    font-size: clamp(1.00rem, calc(0.857rem + 0.714vw), 1.50rem);

    text-align: center;

    color: var(--secondary-brown);
}

.share-button summary {
    display: flex;
    align-items: center;
    gap: 8px;
    font: 700 24px 'Arima';

    height: 48px;

    padding: 8px 18px;

    color: var(--primary-yellow);
    background-color: var(--primary-green);

    border-radius: 40px;

    cursor: pointer;
}

.share-button details[open] summary img {
    display: none;
}

.share-button details[open] summary {
    margin-left: 16px;
}

.share-button details {
    display: flex;
    align-items: center;

    height: 54px;
}

.share-button details::details-content {
    inline-size: 0;
    opacity: 0;
    transition-property: inline-size, content-visibility, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
}

.share-button details[open]::details-content {
    inline-size: auto;
    padding: 4px 10px;
    opacity: 1;
}

.share-button .hidden-links a {
    display: flex;

    font: 600 18px 'Arima';

    color: var(--primary-green);
}

.share-button .hidden-links {
    display: flex;
    gap: 16px;
}

.share-button .hidden-links>div {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    .share-button .share-arrow-small {
        display: block;
    }

    .share-button .share-arrow-big {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .share-button .follow-me br {
        display: none;
    }
    
}



/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 152px;
    background-color: var(--primary-green);
    color: white;
}

footer * {
    color: white;
    font-family: 'Palanquin';
    font-weight: 400;
}

footer>div {
    display: flex;
    align-items: center;
    gap: 72px;
}

footer .footer-copyright {
    display: flex;
    align-items: center;
    gap: 8px;


    font-size: 18px;
}

footer .footer-links {
    display: flex;
    gap: 72px;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
}


footer .footer-social-media-buttons {
    display: flex;

    gap: 16px;
}


footer .footer-social-media-buttons li {

    list-style: none;
}

footer .footer-social-media-buttons img {
    height: 32px;
}

@media screen and (max-width: 480px) {
    footer .footer-copyright img {
        width: 16px;
        height: 16px;
    }

    footer .footer-social-media-buttons {
        gap: 8px;
    }
}

@media screen and (max-width: 992px) {
    footer {
        height: 240px;
        padding-top: 30px !important;
        padding-bottom: 118px !important;

        align-items: end;
    }

    footer>div {
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        align-items: start;
        gap: 8px;
    }

    footer .footer-copyright {
        display: flex;
        gap: 4px;
    }

    footer .footer-copyright img {
        width: 20px;
        height: 20px;
    }

    footer .footer-copyright p {
        font-size: 16px;
    }

    footer .footer-links {
        flex-direction: column;
        gap: 8px;
    }

    footer .footer-social-media-buttons img {
        height: 24px;
    }
}