main a {
    font-family: 'Palanquin';
    font-weight: 600;
    color: var(--primary-green);
    cursor: pointer;
}

.impressum-page {
    max-width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;

    gap: 16px;
}

.impressum-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.impressum-info p {
    margin: 0;
}

.impressum-info a {
    text-decoration: none;
    padding: 0.5rem;
}

.impressum-info a:hover {
    text-decoration: underline;
    color: var(--primary-yellow);
}

@media screen and (max-width: 768px) {
   .impressum-info{
    text-align: center;
   }

   .impressum-page h3 {
    text-align: center;
}

   .impressum-info h4{
    display: block;
    text-align: center;
   }

   .impressum-page img{
    display: none;
   }
}