.video-element {
    display: flex;
    justify-content: center;
}

.video-element img {
    width: min(100%, 930px);
}

.info {
    display: flex;
    flex-direction: column;
}

.lorem-element-two {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, calc(16.571px + 1.071vw), 32px);
}

.lorem-element-two ul {
    padding-left: 30px;
}



@media screen and (max-width: 992px) {

    .share-button .arrow {
        width: 50px;

        position: absolute;
        bottom: 24px;
    }
}