.video-element {
    display: flex;
    justify-content: center;
}

.video-element img {
    width: min(100%, 930px);
}

.info {
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 992px) {

    .share-button .arrow {
        width: 50px;

        position: absolute;
        bottom: 24px;
    }
}