body {
    width: 100%;
    height: 100%;
}

a {
    font-family: 'Arima';
    font-size: 24px;
    font-weight: 700;

    color: #F8F5EB;
}

.first {
    width: 100%;

    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 40px;
}

.first-main-section {
    width: 902px;
    height: 391px;
}

.section-one>p {
    font-family: 'Palanquin';
    font-size: 32px;
    font-weight: 400;

    gap: 40px;
}

.meta-data {
    display: flex;
    text-align: center;

    padding-top: 40px;

    gap: 32px;

    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 400;
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #4EA48733;

    width: 272px;

    border-radius: 30px;
    padding: 16px;
    gap: 16px;

}

.section-three>img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
}

.section-three>p {
    font-family: 'Arima';

}

.tamara {
    text-align: center;
}

.tama {
    font-weight: 700;
    font-size: 18px;
}

.author {
    font-weight: 400;
    font-size: 18px;
}

.tamara-intro>p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 16px;
}

.lorem-element>p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: 24px;
    
    color: var(--neutral);
}

.video-elemen {
    display: flex;
    justify-content: center;

    padding: 137px 377px;
}

.lorem-element-one>p {
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
    color: var(--neutral);
}

.info {
    display: flex;
    flex-direction: column;
}

.lorem-element-two>p {
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;

    padding-bottom: 40px;
}

.lorem-element-two li {
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
    color: var(--neutral);
}

span {
    font-family: Palanquin;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    color: var(--neutral);
}

.lorem-element-three {
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 400;
}

.lorem-element-three ol {
    border-radius: 30px;
    padding-top: 26px;
    padding-bottom: 24px;
    padding-right: 16px;

    background-color: #4EA48733;
}

.link {
    color: #4EA487;
    text-decoration: none;
}

.lorem-element-four>p {
    font-family: Palanquin;
    font-weight: 400;
    font-size: 24px;

    color: #3D3D3D;



}

.lorem-element-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 48px;
}

.follow-me {
    font-family: 'Arima';
    font-weight: 500;
    font-size: 24px;

    text-align: center;

    color: var(--secondary-brown);
}

.button {
    width: 158px;

    display: flex;

    padding-right: 24px;
    padding-left: 24px;


    color: var(--primary-yellow);
    background-color: var(--primary-green);

    border-radius: 40px;

    gap: 8px;
}