/* HERO Section */

.section-hero {
    width: 100%;
    height: 560px;
}



@media screen and (max-width: 1440px) {
    .section-hero.wrapper {
        padding: 0;
    }

}

.section-hero .container {
    position: relative;
    overflow-x: hidden;
    height: 560px;
}

.section-hero .hero-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 533px;
    background-image: url('/assets/img/hero-image_small.jpg');
    background-size: cover;
    background-position: right, center;
}

.section-hero .hero-wave {
    position: absolute;
    top: 0;
    /* left: -1340px; */
    right: -472px;
    height: 560px;

    animation: slide-left var(--length-animation) linear forwards;
}

.section-hero .hero-headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: clamp(16px, calc(11.429px + 1.429vw), 32px);

    width: clamp(250px, calc(222.857px + 8.482vw), 345px);

    animation: slide-up-slide-left var(--length-animation) linear forwards;
}

.section-hero .hero-headline h1 {
    animation: opacity-in-h1 var(--length-animation) linear forwards;
}

.section-hero .hero-headline p {
    font-size: clamp(1.25rem, calc(1.107rem + 0.714vw), 1.75rem);
    animation: opacity-in-p var(--length-animation) linear forwards;
}

.section-hero .hero-logo {
    position: absolute;
    top: 284px;
    left: 444px;
    width: 160px;
    height: 160px;
    background-color: var(--primary-green);
    border-radius: 999px;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);

    animation: fade-in-slide-up var(--length-animation) linear forwards;
}

.section-hero .hero-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-hero .hero-logo .logo-text {
    animation: logo-rotate 10s linear infinite;
    transform-origin: center;
}

@keyframes logo-rotate {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes slide-up-slide-left {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    5% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    15% {
        top: 145px;
        left: 50%;
        transform: translateX(-50%);
    }

    45% {
        top: 145px;
        left: 50%;
        transform: translateX(-50%);
    }

    70% {
        top: 145px;
        left: clamp(18px, calc(-5.429px + 7.321vw), 100px);
        transform: translate(0, 0);
    }

    100% {
        top: 145px;
        left: clamp(18px, calc(-5.429px + 7.321vw), 100px);
        transform: translate(0, 0);
    }
}

@keyframes opacity-in-h1 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity-in-p {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        left: 0;
    }

    35% {
        left: 0;
    }

    70% {
        left: calc(-1794px + 444px);
    }

    100% {
        left: calc(-1794px + 444px);
    }
}

@keyframes fade-in-slide-up {
    0% {
        top: 100%;
        opacity: 0;
    }

    25% {
        top: 100%;
        opacity: 0;
    }

    50% {
        top: 100%;
        opacity: 0;
    }

    80% {
        top: calc(533px - 80px);
        opacity: 0;
    }

    85% {
        opacity: 0;
    }

    100% {
        top: 285px;
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
 .section-hero .hero-image {
        width: 100%;
        height: 533px;
        background-size: 150%;
        background-position: 0%, center;
    }
}

@media screen and (max-width: 768px) {
    .section-hero .hero-image {
        width: 100%;
        height: 533px;
        background-size: 280%;

        background-position: -115%, center;
    }

    @keyframes opacity-in-h1 {
        0% {
            opacity: 0;
        }

        5% {
            opacity: 0;
        }

        15% {
            opacity: 1;
        }

        70% {
            opacity: 0;
        }

        85% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes opacity-in-p {
        0% {
            opacity: 0;
        }

        15% {
            opacity: 0;
        }

        45% {
            opacity: 1;
        }

        70% {
            opacity: 0;
        }

        85% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes slide-left {
        0% {
            left: 0;
        }

        35% {
            left: 0;
        }

        70% {
            top: 0px;
            left: calc(-1794px + 40%);
        }

        100% {
            top: -120px;
            left: calc(-1794px + 30%);
        }
    }

    @keyframes fade-in-slide-up {
        0% {
            top: 100%;
            opacity: 0;
        }

        25% {
            top: 100%;
            opacity: 0;
        }

        50% {
            top: 100%;
            opacity: 0;
        }

        80% {
            top: calc(533px - 80px);
            opacity: 0;
        }

        85% {
            left: 30%;
            opacity: 0;
        }

        100% {
            top: 30%;
            left: 30%;
            opacity: 1;
        }
    }
}



.section-head {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h2+p {
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: clamp(24px, calc(12.571px + 3.571vw), 64px);
}

/* SLIDER */

.slider {
    position: relative;

    width: 100%;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: end;

    overflow: hidden;

    border-top-right-radius: 100px;
}

.slider input {
    z-index: 2;
}

.slider_wrapper {
    width: 400%;
    height: 100%;

    display: flex;
    position: absolute;

    transition: all 500ms ease-in-out;
}

.slider_element {
    width: calc(100% / 4);
    height: 100%;
    padding-top: clamp(64px, calc(110.286px - 3.214vw), 100px);
    padding-left: clamp(16px, calc(6.857px + 2.857vw), 48px);
    padding-right: clamp(16px, calc(-156px + 35.833vw), 360px);
}

.element_one {
    background-image: url('/assets/img/slider-img-01_small.jpg');
    background-size: cover;
    background-position: center;
}

.element_two {
    background-image: url('/assets/img/slider-img-02_small.jpg');
    background-size: cover;
    background-position: center;
}

.element_three {
    background-image: url('/assets/img/slider-img-03_small.jpg');
    background-size: cover;
    background-position: center;
}

.element_four {
    background-image: url('/assets/img/slider-img-04_small.jpg');
    background-size: cover;
    background-position: center;
}

.slider input[value="one"]:checked~.slider_wrapper {
    transform: translateX(37.5%);
}

.slider input[value="two"]:checked~.slider_wrapper {
    transform: translateX(12.5%);
}

.slider input[value="three"]:checked~.slider_wrapper {
    transform: translateX(-12.5%);
}

.slider input[value="four"]:checked~.slider_wrapper {
    transform: translateX(-37.5%);
}

.slider .radio-buttons {
    display: flex;
    gap: 22px;
}

input[type="radio"] {
    position: relative;
    bottom: 40px;
    appearance: none;

    width: 28px;
    height: 28px;

    background-color: white;

    border: unset;
    border-radius: 999px;

    cursor: pointer;
    transition: 500ms;

    margin: 0 11px;
}

input[type="radio"]:checked {
    width: 40px;
    background: var(--primary-yellow);
}



.slider a {
    text-decoration: none;
}

.slider a div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}


.slider p {
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: clamp(1.25rem, calc(1.107rem + 0.714vw), 1.75rem);
    color: white;
    text-overflow: ellipsis;

    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* ACCORDION */

.accordion {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.accordion details {
    padding: 16px 14px;
    background-color: var(--primary-yellow);
    border-radius: 12px;
    cursor: pointer;
}

.accordion summary {
    position: relative;
    font-family: 'Palanquin';
    font-size: clamp(1.00rem, calc(0.857rem + 0.714vw), 1.50rem);
    font-weight: 700;
    padding-right: 48px;
    background: var(--primary-yellow);
    list-style: none;
}

.accordion summary img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    transition: rotate 0.5s ease-in-out;
}

.accordion details[open] summary img {
    position: absolute;
    right: 0;
    rotate: -180deg;
}

.accordion details::details-content {
    display: block;
    block-size: 0;
    background-color: White;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;

    transition-property: block-size, content-visibility, margin-top, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
}

.accordion details>p {
    font: 500 16px 'Palanquin';
    line-height: 120%;
}

.accordion details[open]::details-content {
    block-size: auto;
    padding: 4px 10px;
    margin-top: 16px;
    opacity: 1;
}

/* Contact form */

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.contact-form div {
    display: flex;
    flex-direction: column;
    flex: 1 1 500px;
}

.contact-form label {
    font: 500 24px 'Palanquin';
    color: var(--secondary-brown);
}

.contact-form input[type=text] {
    font: 400 24px 'Palanquin';
    color: var(--primary-green);
    border: unset;
    padding: 16px 8px;
    border-bottom: 1px solid black;
    caret-shape: box;
}


.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.submit .check {
    display: flex;
    align-items: center;
    gap: 8px;
}

.submit input[type="checkbox"] {
    appearance: none;

    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 2px;

    flex-shrink: 0;
}

.submit input[type="checkbox"]:hover {
    background-color: var(--primary-yellow);
}

.submit input[type="checkbox"]:checked {
    background-color: var(--primary-green);
    background-image: url("/assets/icons/check_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border: unset;
}

.submit p {
    font: 400 16px 'Palanquin';
    line-height: 120%;
}

.submit p>em {
    font-style: normal;
    color: var(--primary-green);
}

.submit p>em:hover {
    font-weight: 600;
    cursor: pointer;
}

.submit .error {
    color: var(--error);
}

.submit button {
    background-color: unset;
    font: 700 24px 'Arima';
    color: #737373;
    padding: 0 24px;
    border-radius: 999px;
    border: 1px solid rgba(48, 48, 48, 0.5);
}

.submit:has(input[type="checkbox"]:checked) button {
    background-color: var(--primary-green);
    font: 700 24px 'Arima';
    color: var(--primary-yellow);
    padding: 0 24px;
    border-radius: 999px;
    border: unset;
}

.submit:has(input[type="checkbox"]:checked) button {
    transition: all 0.25s ease-in-out;
}

.submit:has(input[type="checkbox"]:checked) button:hover {
    box-shadow: 0 4px 4px rgba(78, 164, 135, 0.3);
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.submit:has(input[type="checkbox"]:checked) .error {
    display: none;
}